{{ partial "header.html" . }}


<article class="post post-single">
    <section class="post-content container">
    {{ .Content }}

    {{ if isset .Params "rating" }}
    <p class="rating rating-{{ .Params.stars }}">{{ .Params.rating }}</p>
    {{ end }}
    </section>

    <aside class="post-aside">
        <section class="tldr container">
            <h3>tl;dr</h3>
            {{ if isset .Params "location" }}
            <p>
                <span class="tldr-label">Location:</span>
                <span class="tldr-value">
                    {{ if isset .Params "map" }}
                        <a href="{{ .Params.map }}" target="_blank">{{ .Params.location }}</a>
                    {{ else }}
                        {{ .Params.location | markdownify }}
                    {{ end }}
                </span>
            </p>
            {{ end }}

            {{ if isset .Params "budget" }}
            <p>
                <span class="tldr-label">Budget:</span>
                <span class="tldr-value">{{ .Params.budget | markdownify }}</span>
            </p>
            {{ end }}

            {{ if isset .Params "reco" }}
            <p>
                <span class="tldr-label">Recommended for:</span>
                <span class="tldr-value">{{ .Params.reco | markdownify }}</span>
            </p>
            {{ end }}

            {{ if isset .Params "notreco" }}
            <p>
                <span class="tldr-label">Not recommended for:</span>
                <span class="tldr-value">{{ .Params.notreco | markdownify }}</span>
            </p>
            {{ end }}

            {{ if isset .Params "tip" }}
            <p>
                <span class="tldr-label">Smart nomnomnom tip:</span>
                <span class="tldr-value">{{ .Params.tip | markdownify }}</span>
            </p>
            {{ end }}
        </section>
        <div class="post-aside-bg"></div>
    </aside>

    <footer class="post-footer container">
        {{ with .Params.tags }}
        <section class="post-tags">
            <span class="label">Labels:</span>
            <ul class="tags">
              {{ range . }}
                <li><a href="{{ "tags/" | absURL }}{{ . | urlize }}">{{ . }}</a></li>
              {{ end }}
            </ul>
        </section>
        {{ end }}
        <p class="post-author">by <b>{{ .Params.author.name }}</b></p>
    </footer>
</article>

<section class="post-comments container">
    <div id="disqus_thread"></div>
    <script>

    var disqus_config = function () {
    this.page.url = '{{ .Permalink }}';
    this.page.identifier = '{{ .Params.slug }}';
    };
    (function() {
    var d = document, s = d.createElement('script');
    s.src = 'https://inggo-noms.disqus.com/embed.js';
    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
    })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
</section>

<section class="up-next container">
    {{ with .PrevInSection }}
    Up Next: <a class="previous-article" href="{{.Permalink}}"> {{.Title}}</a>
    {{ end }}
</section>

{{ partial "footer.html" . }}