{{ $.Scratch.Add "single" true }}
{{ $.Scratch.Add "meta-desc" (.Summary | truncate 255) }}
{{ partial "header.html" . }}

<article class="post post-single">
    <section class="post-content container">
    {{ .Content }}

    {{ if isset .Params "rating" }}
    <p class="rating rating-{{ .Params.stars }}">{{ .Params.rating }}</p>
    {{ end }}
    </section>

    {{ if eq .Type "reviews" }}
    <aside class="post-aside">
        <section class="tldr container">
            <h3>tl;dr</h3>
            {{ if isset .Params "location" }}
            <p>
                <span class="tldr-label">Location:</span>
                <span class="tldr-value">
                    {{ if isset .Params "map" }}
                        <a href="{{ .Params.map }}" target="_blank">{{ .Params.location }}</a>
                    {{ else }}
                        {{ .Params.location | markdownify }}
                    {{ end }}
                </span>
            </p>
            {{ end }}

            {{ if isset .Params "budget" }}
            <p>
                <span class="tldr-label">Budget:</span>
                <span class="tldr-value">{{ .Params.budget | markdownify }}</span>
            </p>
            {{ end }}

            {{ if isset .Params "reco" }}
            <p>
                <span class="tldr-label">Recommended for:</span>
                <span class="tldr-value">{{ .Params.reco | markdownify }}</span>
            </p>
            {{ end }}

            {{ if isset .Params "notreco" }}
            <p>
                <span class="tldr-label">Not recommended for:</span>
                <span class="tldr-value">{{ .Params.notreco | markdownify }}</span>
            </p>
            {{ end }}

            {{ if isset .Params "tip" }}
            <p>
                <span class="tldr-label">{{ if isset .Params "tipoverride" }}{{ .Params.tipoverride |markdownify }}{{ else }}Smart nomnomnom tip:{{ end }}</span>
                <span class="tldr-value">{{ .Params.tip | markdownify }}</span>
            </p>
            {{ end }}
        </section>
        <div class="post-aside-bg" style="background-image: url('{{ .Params.asidebg }}')"></div>
    </aside>
    {{ end }}

    <footer class="post-footer container">
        {{ with .Params.tags }}
        <section class="post-tags">
            <span class="label">Labels:</span>
            <ul class="tags">
              {{ range . }}
                <li><a href="{{ "tags/" | absURL }}{{ . | urlize }}">{{ . }}</a></li>
              {{ end }}
            </ul>
        </section>
        {{ end }}
        <p class="post-author">by <b>{{ .Params.author.name }}</b></p>

        <div class="share-buttons">
            <div class="fb-share-button" data-href="{{ .Permalink }}" data-layout="button_count" data-size="large" data-mobile-iframe="true"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u={{ .Permalink }}" class="fb-xfbml-parse-ignore">Share</a></div>

            <a class="twitter-share-button" href="https://twitter.com/intent/tweet?url={{ .Permalink }}&amp;via=InggoNoms" data-size="large" target="_blank">Tweet</a>

            <div class="g-plus" data-action="share" data-height="28"></div>
        </div>

        {{ partial "adsense-inarticle.html" . }}

        {{ partial "disqus.html" . }}
    </footer>

    <nav class="container pagination">
        {{ with .PrevInSection }}
        <a class="next-page" href="{{ .Permalink }}">
            <i class="icon-laquo"></i>
            Previously: <b>{{ .Title }}</b>
        </a>
        {{ end }}

        {{ with .NextInSection }}
        <a class="prev-page" href="{{ .Permalink }}">
            Up Next:  <b>{{ .Title }}</b>
            <i class="icon-raquo"></i>
        </a>
        {{ end }}
    </section>
</article>

{{ partial "footer.html" . }}