{{ partial "header.html" . }}

<article class="post post-single">
    <section class="post-content container">
    {{ .Content }}

    {{ if isset .Params "rating" }}
    <p class="rating rating-{{ .Params.stars }}">{{ .Params.rating }}</p>
    {{ end }}
    </section>

    <aside class="post-aside">
        <section class="tldr container">
            <h3>tl;dr</h3>
            {{ if isset .Params "location" }}
            <p>
                <span class="tldr-label">Location:</span>
                <span class="tldr-value">
                    {{ if isset .Params "map" }}
                        <a href="{{ .Params.map }}" target="_blank">{{ .Params.location }}</a>
                    {{ else }}
                        {{ .Params.location | markdownify }}
                    {{ end }}
                </span>
            </p>
            {{ end }}

            {{ if isset .Params "budget" }}
            <p>
                <span class="tldr-label">Budget:</span>
                <span class="tldr-value">{{ .Params.budget | markdownify }}</span>
            </p>
            {{ end }}

            {{ if isset .Params "reco" }}
            <p>
                <span class="tldr-label">Recommended for:</span>
                <span class="tldr-value">{{ .Params.reco | markdownify }}</span>
            </p>
            {{ end }}

            {{ if isset .Params "notreco" }}
            <p>
                <span class="tldr-label">Not recommended for:</span>
                <span class="tldr-value">{{ .Params.notreco | markdownify }}</span>
            </p>
            {{ end }}

            {{ if isset .Params "tip" }}
            <p>
                <span class="tldr-label">Smart nomnomnom tip:</span>
                <span class="tldr-value">{{ .Params.tip | markdownify }}</span>
            </p>
            {{ end }}
        </section>
        <div class="post-aside-bg" style="background-image: url('{{ .Params.asidebg }}')"></div>
    </aside>

    <footer class="post-footer container">
        {{ with .Params.tags }}
        <section class="post-tags">
            <span class="label">Labels:</span>
            <ul class="tags">
              {{ range . }}
                <li><a href="{{ "tags/" | absURL }}{{ . | urlize }}">{{ . }}</a></li>
              {{ end }}
            </ul>
        </section>
        {{ end }}
        <p class="post-author">by <b>{{ .Params.author.name }}</b></p>
    </footer>

    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <ins class="adsbygoogle"
         style="display:block; text-align:center;"
         data-ad-layout="in-article"
         data-ad-format="fluid"
         data-ad-client="ca-pub-7748129663866128"
         data-ad-slot="8544038730"></ins>
    <script>
         (adsbygoogle = window.adsbygoogle || []).push({});
    </script>

    <section class="up-next container">
        {{ with .PrevInSection }}
        Up Next: <a class="next-page" href="{{.Permalink}}"> {{.Title}}</a>
        {{ end }}
    </section>
</article>

{{ partial "footer.html" . }}