<article class="post container">
  <div class="post-summary-container">
    {{ if .Params.mediaimg }}
    <figure class="media-image"{{ if (and (not (eq (printf "%v" $.Site.BaseURL) "http://localhost:1313/")) $.Site.Params.cdnUrl) }}
      style="background-image: url({{ replace .Params.mediaimg "/img/thumbs/" (print $.Site.Params.cdnUrl "w_35/") }})"{{ end }}>
      <a href="{{ if .Params.extlink }}{{ .Params.extlink }}{{ else }}{{ .Permalink }}{{ end }}">
        <picture>
          {{ if (and (not (eq (printf "%v" $.Site.BaseURL) "http://localhost:1313/")) $.Site.Params.cdnUrl) }}
          <source media="(max-width: 500px)" data-srcset="{{ replace .Params.mediaimg "/img/thumbs/" (print $.Site.Params.cdnUrl "w_350/") }}">
          <source media="(min-width: 501px) and (max-width: 760px)" data-srcset="{{ replace .Params.mediaimg "/img/thumbs/" $.Site.Params.cdnUrl }}">
          <img
            src="{{ replace .Params.mediaimg "/img/thumbs/" (print $.Site.Params.cdnUrl "w_35/") }}" 
            data-srcset="{{ replace .Params.mediaimg "/img/thumbs/" (print $.Site.Params.cdnUrl "w_350/") }} 350w,
              {{ replace .Params.mediaimg "/img/thumbs/" $.Site.Params.cdnUrl }}"
            sizes="(max-width: 760px) 100vw, 350px"
            alt="{{ .Title }}"
          />
        {{ else }}
          <source media="(max-width: 500px)" srcset="{{ .Params.mediaimg }}">
          <source media="(min-width: 501px) and (max-width: 760px)" srcset="{{ replace .Params.mediaimg "/thumbs/" "/" }}">
          <img src="{{ .Params.mediaimg }}" alt="{{ .Title }}" class="initial"/>
        {{ end }}
        </picture>
      </a>
    </figure>
    {{ end }}
    <section class="post-summary">
      {{ partial "post-header.html" . }}
      {{ .Summary }}
      <footer class="post-summary-footer">
        <a class="continue-reading" href="{{ if .Params.extlink }}{{ .Params.extlink }}{{ else }}{{ .Permalink }}{{ end }}"><nobr>{{ if .Params.extlabel }}{{ .Params.extlabel }}{{ else }}Continue Reading{{ end }} <i class="icon-raquo"></i></nobr></a>
        <p class="post-author">by <b>{{ .Params.author.name }}</b></p>
      </footer>
    </section>
  </div>
</article>
