<article class="post container">
  <div class="post-summary-container">
    {{ if .Params.mediaimg }}
    <figure class="media-image">
      <a href="{{ if .Params.extlink }}{{ .Params.extlink }}{{ else }}{{ .Permalink }}{{ end }}">
        <picture>
          <source media="(max-width: 350px)" srcset="{{ .Params.mediaimg }}">
          <source media="(max-width: 760px)" srcset="{{ replace .Params.mediaimg "/thumbs/" "/" }}">
          <img src="{{ .Params.mediaimg }}" alt="{{ .Title }}"/>
        </picture>
      </a>
    </figure>
    {{ end }}
    <section class="post-summary">
      {{ partial "post-header.html" . }}
      {{ .Summary }}
      <footer class="post-summary-footer">
        <a class="continue-reading" href="{{ if .Params.extlink }}{{ .Params.extlink }}{{ else }}{{ .Permalink }}{{ end }}"><nobr>{{ if .Params.extlabel }}{{ .Params.extlabel }}{{ else }}Continue Reading{{ end }} <i class="icon-raquo"></i></nobr></a>
        <p class="post-author">by <b>{{ .Params.author.name }}</b></p>
      </footer>
    </section>
  </div>
</article>
