{{ if .IsPage }}
{{ if eq .Type "reviews" }}
<script type="application/ld+json">
{
  "@context": "http://schema.org/",
  "@type": "Review",
  "itemReviewed": {
    "@type": "{{ with .Params.reviewdata.type }}{{ .Params.reviewdata.type }}{{ else }}Restaurant{{ end }}",
    "name": "{{ .Title }}",
    "address": "{{ .Params.location }}",
    "sameAs": "{{ with .Params.reviewdata.url }}{{ .Params.reviewdata.url }}{{ else }}{{ .Params.map }}{{ end }}",
    "image": "{{ replace (print .Site.BaseURL (replace .Params.mediaimg "/thumbs/" "/")) "//" "/" }}",
    "priceRange": "{{ .Params.budget }}"{{ with .Params.reviewdata.cuisine }},
    "servesCuisine": "{{ .Params.reviewdata.cuisine }}"{{ end }}
  },
  "reviewRating": {
    "@type": "EndorsementRating",
    "name": "{{ .Params.rating }}",
    "ratingValue": "{{ replace .Params.stars "-" "." }}"
  },
  "name": "{{ .Title }} {{ .Params.subtitle }} Review",
  "image": "{{ replace (print .Site.BaseURL (replace .Params.mediaimg "/thumbs/" "/")) "//" "/" }}",
  "author": {
    "@type": "Person",
    "name": "{{ .Params.author.name }}",
    "sameAs": "{{ .Params.author.uri }}"
  },
  "datePublished": "{{ .Date.Format "2006-01-02" }}"
}
</script>
{{ end }}
{{ end }}