{{ if $.Scratch.Get "single" }}
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.12';
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<script>window.twttr = (function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0],
    t = window.twttr || {};
  if (d.getElementById(id)) return t;
  js = d.createElement(s);
  js.id = id;
  js.src = "https://platform.twitter.com/widgets.js";
  fjs.parentNode.insertBefore(js, fjs);

  t._e = [];
  t.ready = function(f) {
    t._e.push(f);
  };

  return t;
}(document, "script", "twitter-wjs"));</script>
{{ end }}

<script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
<script type="text/javascript">
if (!Cookies.get('consent')) {
  document.write('<div class="consent-cookies"><p>This blog uses cookies to ensure your best experience. <a href="http://cookiesandyou.com/" target="_blank">Learn more</a></p><button onclick="javascript:consentCookies();">Accept</buton></div>')
}
</script>
<button class="light-switch" onclick="javascript:toggleColors()">
  <i class="icon-lightbulb"></i>
</button>

<script src="https://cdn.jsdelivr.net/npm/vanilla-lazyload@10.19.1/dist/lazyload.min.js"></script>
<script src="{{ .Site.BaseURL }}js/script.js"></script>
