@import 'reset';
@import 'variables';
@import 'mixins';

body,
html {
  @include respond-to(xs) {
    font-size: $size-xs;
  }
  font-size: $size;
  min-width: 320px;

  &.loaded {
    overflow: auto;
  }

  &.loading {
    overflow: hidden;
  }
}

body {
  color: $primary;
  background: $background;
  font-family: $font;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-alt;
  font-weight: bold;
  text-align: left;
}

h1 {
  @include respond-to(sm) {
    font-size: 2rem;
    letter-spacing: -1px;
    line-height: 1.8rem;
  }

  font-size: 3rem;
  letter-spacing: -2px;
  line-height: 2.875rem;
  padding: 0 0 1rem;
}

h2 {
  font-size: 1.5rem;
  line-height: 1.25rem;
}

a {
  color: $secondary;
  opacity: 1;
  text-decoration: none;
  transition: opacity .4s;

  &:hover {
    opacity: .8;

    .icon-raquo {
      transform: translateX(-.5rem);
    }

    .icon-laquo {
      transform: translateX(.5rem);
    }
  }

  &.is-loading {
    display: inline-block;
    @include popout(1.35);
    
    &.next-page {
      transform: scale(1.35) translateX(-10rem);
    }

    &.prev-page,
    &.continue-reading {
      transform: scale(1.35) translateX(10rem);
    }
  }
}

article {
  text-align: justify;
}

b,
strong {
  font-weight: bold;
}

em,
i {
  font-style: italic;
}

img {
  display: block;
  height: auto;
  margin: 0 auto;
  max-width: $img-max;
  width: 100%;
}

p,
ol,
ul {
  line-height: 1.35em;
  margin-bottom: 1.35em;
}

ol {
  list-style: decimal;
  margin-left: 1rem;
}

ol,
ul {
  margin-left: 1rem;

  li {
    padding-left: .5rem;
  }
}

ul {
  li {
    list-style: disc;
  }
}

ol {
  li {
    list-style: decimal;
  }
}

button,
input[type=image] {
  &:active,
  &:focus {
    opacity: .8;
    border-color: transparent;
    box-shadow: none;
    outline-style: none;
  }
}

.container {
  @include respond-to(md) {
    max-width: $container-lg;
  }

  @include respond-to(lg) {
    max-width: $container-xl;
  }

  margin: 0 auto;
  padding: 0 30px;
  position: relative;
  z-index: 11;
}

.site-header {
  background: $header-bg;
  position: relative;

  a {
    color: $white;
  }

  .container {
    @include respond-to(xs) {
      height: 60vh;
    }

    align-items: left;
    color: $header-color;
    display: flex;
    flex-direction: column;
    height: 40vh;
    justify-content: center;
    min-height: 130px;
    width: calc(100% - 60px);
  }

  .post-title {
    font-size: 2rem;
    letter-spacing: 1px;
    margin-top: -.5rem;

    .subtitle {
      font-weight: normal;
      letter-spacing: 0;
    }
  }
}

.post-date + .post-title {
  margin-top: -.5rem;
}

.title {
  text-transform: lowercase;

  .first-word {
    font-weight: bold;
  }

  .last-word {
    @include respond-to(sm) {
      left: -.5rem;
    }

    font-weight: normal;
    left: -.6667rem;
    position: relative;
  }
}

.tagline {
  @include respond-to(sm) {
    font-size: 1rem;
  }

  display: block;
  font-family: $font-alt;
  font-size: 1.5rem;
  font-weight: normal;
  letter-spacing: -1px;
  margin-bottom: 0;
  margin-top: -.9rem;
}

.site-header-bg,
.post-aside-bg {
  background-position: center 50%;
  background-size: cover;
  height: 100%;
  left: 0;
  opacity: .25;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 0;
}

.fix-nav {
  body {
    @include respond-to(xs) {
      padding-top: 60vh;
    }

    padding-top: 40vh;
  }

  .main-menu,
  .site-header {
    overflow: hidden;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    height: 2rem;
    transition: transform .4s;
    transform: translateY(-2rem);
  }

  &.scrolling-up {
    .main-menu,
    .site-header {
      transform: translateY(0);
    }
  }

  .main-menu {
    margin-top: 0;
    z-index: 69;
  }

  .site-header {
    overflow: hidden;
    z-index: 68;
  }
}

.main-menu {
  background: $nav-bg;
  margin-top: -2rem;
  position: relative;
}

.navigation {
  @include respond-to(sm) {
    font-size: .75rem;
  }

  display: flex;
  font-weight: bold;
  justify-content: space-between;
  padding: 0;

  li {
    border-right: 1px solid $nav-border;
    line-height: 2rem;
    margin: 0;
    padding: 0;
    width: 25%;
    list-style: none;

    &:last-child {
      border-right: 0;
    }
  }

  a {
    color: $primary;
    display: block;
    font-family: $font-alt;
    letter-spacing: -1px;
    opacity: .5;
    text-align: center;
    text-transform: uppercase;

    &:hover {
      opacity: 1;
    }
  }


  .active {
    background: $nav-border;

    a {
      opacity: .9;
    }
  }
}

.ad {
  padding: 1.35rem 30px;
}

.ad,
.post {
  border-bottom: 1px solid $border;
}

.post-single {
  border-bottom: 0;

  .ad {
    border-bottom: 0;
  }

  p + .ad {
    margin-top: -1.35rem;
  }
}

.media-image {
  margin: 2rem -30px -5%;
  position: relative;
  z-index: 12;

  &::after {
    background: $background;
    bottom: 0;
    content: '';
    height: 5%;
    position: absolute;
    width: 100%;
  }

  a {
    opacity: 1;

    &:hover {
      opacity: .9;
    }
  }
}

@include respond-to(gt-md) {
  .post-summmary-container {
    clear: both;
  }

  .media-image {
    align-items: center;
    display: flex;
    float: right;
    margin: 2rem 0 0 .675rem;
    max-height: 165px;
    max-width: 350px;
    overflow: hidden;

    &::after {
      display: none;
    }
  }
}

.post-summary {
  .post-header {
    padding-left: 0;
    padding-right: 0;
  }
}

.post-summary-footer {
  @include respond-to(gt-md) {
    display: flex;
    justify-content: space-between;
  }
  margin: 1.35rem auto;
}

.continue-reading {
  display: inline-block;
  margin-bottom: 1.35rem;
}

.post-date {
  margin: .5rem 0;
}

.post-header {
  padding: 2rem 30px 1.35rem;
}

.post-title {
  .subtitle {
    font-size: .75em;
    position: relative;
  }
}

.post-single {
  padding: 60px 0;
} 

.rating {
  font-style: italic;
  padding: 160px 0 60px;
  position: relative;
  text-align: center;

  &::before {
    background-image: url('~/img/thumbs.png');
    background-repeat: no-repeat;
    content: '';
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
  }

  &.rating-5 {
    &::before {
      background-position: -142px -227px;
      height: 141px;
      top: 9px;
      width: 142px;
    }
  }

  &.rating-4 {
    &::before {
      background-position: -119px -104px;
      height: 123px;
      top: 18.5px;
      width: 119px;
    }
  }

  &.rating-3 {
    &::before {
      background-position: -96px 0;
      height: 104px;
      top: 32px;
      width: 96px;
    }
  }

  &.rating-2-5 {
    &::before {
      background-position: 0 0;
      height: 104px;
      top: 16px;
      width: 96px;
      left: -60px;
      transform: scaleX(-1);
    }

    &::after {
      background-image: url('~/img/thumbs.png');
      background-repeat: no-repeat;
      content: '';
      left: 60px;
      margin: 0 auto;
      position: absolute;
      right: 0;
      background-position: -96px 0;
      height: 104px;
      top: 48px;
      width: 96px;
    }
  }

  &.rating-2 {
    &::before {
      background-position: 0 0;
      height: 104px;
      top: 32px;
      width: 96px;
    }
  }

  &.rating-1 {
    &::before {
      background-position: 0 -104px;
      height: 123px;
      top: 18.5px;
      width: 119px;
    }
  }

  &.rating-0 {
    &::before {
      background-position: 0 -227px;
      height: 141px;
      top: 9px;
      width: 142px;
    }
  }
}

.post-aside {
  background: $primary;
  color: $primary-inverted;
  padding: 3rem 0;
  position: relative;

  a {
    color: $primary-inverted;
  }
}

.tldr {
  font-size: .9rem;

  h3 {
    line-height: 1.5rem;
  }

  p {
    line-height: 1rem;
    margin-bottom: 0;
    padding: .1rem 0;
  }

  .tldr-label {
    display: block;
    font-size: .75rem;
    letter-spacing: -1px;
    line-height: 1rem;
  }
}

.post-footer {
  padding: 30px;
}

.post-tags {
  margin: 0 0 .675rem;

  .label {
    font-size: .75rem;
    letter-spacing: -1px;
    line-height: 1rem;
  }
}

.tags {
  line-height: 1rem;
  margin: 0;
  padding: .1rem 0;

  > :last-child {
    &::before {
      content: 'and ';
    }

    &::after {
      display: none;
    }
  }

  > :only-child {
    &::before {
      display: none;
    }
  }

  li {
    display: inline;
    margin: 0;
    padding: 0;

    &::after {
      content: ', ';
    }
  }
}

.post-content {
  img {
    @include respond-to(lg) {
      margin: 0 auto;
      width: 100%;
    }

    margin: 0 -30px;
    width: calc(100% + 60px);
  }

  p + div {
    @include respond-to(lg) {
      margin: 0 auto 1.35rem;
    }

    margin: 0 -30px 1.35rem;
  }
}

.single-page {
  padding-top: 60px;
}

.pagination {
  @include respond-to(gt-md) {
    align-items: justify-content;
    display: flex;
    justify-content: space-between;
  }

  margin-bottom: 60px;
  margin-top: 30px;
  overflow: hidden;

  a {
    display: inline-block;
    margin: 0 0 1.35rem;
    text-align: left;

    &.prev-page {
      float: right;
    }

    &.next-page {
      float: left;
    }

    b {
      white-space: nowrap;
    }
  }
}

.google-cs-container {
  max-width: 275px;
  opacity: 1;
  top: 1rem;

  .gsc-control-cse {
    background: transparent;
    border: 0;
    padding: 0;
  }
}

.scroll-to-top {
  background: $secondary;
  border: 0;
  bottom: 1rem;
  color: $background;
  cursor: pointer;
  display: flex;
  height: 2rem;
  justify-content: center;
  opacity: 0;
  transform: scale(1) translateY(55px);
  width: 2rem;

  &:active,
  &:focus {
    opacity: 0;
  }
}

.google-cs-container,
.scroll-to-top {
  position: fixed;
  right: 1rem;
  z-index: 115;
  transition: opacity .6s, transform .6s;
}

.is-scrolled .google-cs-container {
  opacity: 0;
  transform: translateY(-55px);
}

.is-scrolled .scroll-to-top {
  opacity: .5;
  transform: scale(1) translateY(0);

  &:hover {
    opacity: 1;
  }
}

.is-scrolled .scroll-to-top {
  &.scrolling {
    @include popout(1.5);
  }
}

.site-footer {
  background: $footer-bg;
  padding: 60px 30px;
}

.site-disclaimer,
.site-copyright,
.site-license {
  font-size: .675rem;
  margin: 0 0 .3375rem;
  text-align: center;
}

.page-loader {
  &.loaded {
    z-index: -1;
  }
  &.loading {
    z-index: 51108;
    * {
      opacity: 0;
    }
  }
}

.icon-raquo,
.icon-laquo {
  display: inline-block;
  transition: transform .2s;
}

.icon-raquo {
  transform: translateX(-.25rem);
}

.icon-laquo {
  transform: translateX(.25rem);
}

.share-buttons {
  display: flex;
  > * {
    margin: 0 5px 0 0 !important;
  }
}

.container-404 {
  img {
    display: block;
    margin: -1.35rem auto 1rem;
    max-width: 100%;
  }
}
